@media only screen and (max-width: 700px) {
    body {
      flex-direction: column;
      
      font-size: 80%;
      
    }

    .navbar {
        position: fixed;
        width: 100%;
        border-right: 1px solid transparent;
        height: 300px;
        overflow: auto;
        background: rgb(243, 243, 243);
        z-index: 1;
        margin-top: 0;
        padding: 0;
    }


    #main-doc {
    
        margin-top: 330px;
        margin-left: 0;
        padding: 30px;
        padding-top: 0;
    }

    .navbar__contents li {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }

    code {
        font-size: 120%;
    }
  }



  @media only screen and (max-width: 300px) {
    #main-doc {

        padding: 2px;
       
    }

  }